@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Nunito:400,400i,700&subset=latin-ext');

:root {
  --main-white: #FBFAF4;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--main-white);
  font-size: 100%;
  font-family: "Merriweather", "Georgia", serif;
}

header {
  height: 100vh;
  width: 100%;
}

main {
  margin-left: 20rem;
}

h1, h2, h3 {
  font-family: "Nunito", "Arial", sans-serif;
}

@media only screen and (min-width: 992px) {
  header {
  position: fixed;
  left: 0;
  top: 0;
  width: 20rem;
}
}
