@import url('https://fonts.googleapis.com/css?family=Merriweather:400,400i,700|Nunito:400,400i,700&subset=latin-ext');

:root {
  --main-blue: #639AA2;
  --main-white: #FBFAF4;
  --main-black: #18191A;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: var(--main-white);
  line-height: 1.7;
  color: var(--main-black);
  font-size: 100%;
  font-family: "Merriweather", "Georgia", serif;
}

header {
  background-color: var(--main-blue);
  height: 100vh;
  width: 100%;
}

footer {
  padding: 1rem;
  text-align: center;
}

h1, h2, h3 {
  display: inline-block;
  font-family: "Nunito", "Arial", sans-serif;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.2rem;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.main-nav {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.main-nav li {
  padding: 1rem;
  width: 100%;
}

.main-nav li a {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.posts-list {
  list-style: none;
}

.posts-list li {
  position: relative;
  width: 100%;
  display: flex;
  min-height: 15rem;
  padding: 1rem;
}

.posts-list li img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  padding: 1rem;
  object-fit: cover;
  border-radius: 1.2rem;
  transition: opacity 1s;
}

.post-description {
  position: relative;
  z-index: 1;
  padding: 1rem;
}

.post-description:hover + img {
  opacity: 0.3;
}

.post-description h2 {
  transition: color 1s;
}

.post-description h2:hover {
  color: var(--main-blue);
}

.post-header {
  position: relative;
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 2rem;
  background-color: var(--main-blue);
}

.post-header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top, var(--main-white), transparent)
}

.post-header h1 {
  position: relative;
  z-index: 2;
}

.post-header img{
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.post-content {
  width: 90%;
  max-width: 960px;
  margin: 0 auto;
  padding: 2rem 0;
}

.post-content p {
  margin-bottom: 2rem;
}

.post-chooser {
  height: 10rem;
  background-color: var(--main-blue);
  display: flex;
}

.post-prev, .post-next {
  position: relative;
  flex: 1;
  overflow: hidden;
}

.post-prev a, .post-next a {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  padding: 2rem;
  height: 100%;
  z-index: 1;
}

.post-next a {
  align-items: flex-end;
}

.post-prev img, .post-next img{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: opacity 1s, transform 1s;
}

.post-prev a:hover + img, .post-next a:hover + img {
  opacity: 1;
  transform: scale(1.1);
}

@media only screen and (min-width: 992px) {
    header {
    position: fixed;
    left: 0;
    top: 0;
    width: 25rem;
  }
  
  main {
    margin-left: 25rem;
  }
}
