<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ "assets/style.css" | relative_url}}>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <header>test</header>
    <main>
      <ul class="posts-list">
        {% for post in site.posts %}
        <li>
          <div class="featured-image">
            <img src="{{ post.image | relative_url }}">
          </div>
          <div class="post-description">
            <a href="{{ post.url | absolute_url }}"><h2>{{ post.title }}</h2></a>
            {{ post.excerpt }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </main>
  </body>
</html>
