<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={{ "assets/style.css" | relative_url}}>
    <title>{{ site.title }} | {{ page.title }}</title>
  </head>
  <body>
    <nav class="post-navigation">
      <a href="{{ index.html | relative_url }}"><img src="{{ "assets/img/home.svg" | relative_url }}"></a>
    </nav>
    <header class="post-header">
      <h1>{{ page.title }}</h1>
      <img src="{{ page.image | relative_url}}">
    </header>
    <article class="post-content">
      {{ content }}
    </article>
    <div class="post-chooser">
      <div class="post-prev">
        {% if page.previous.url %}
          <a href="{{ page.previous.url | relative_url}}">
            Poprzedni post
            <h2>{{ page.previous.title }}</h2>
          </a>
          <img src="{{ page.previous.image | relative_url }}">
        {% endif %}
      </div>
      <div class="post-next">
        {% if page.next.url %}
          <a href="{{ page.next.url | relative_url}}">
            Następny post
            <h2>{{ page.next.title }}</h2>
          </a>
          <img src="{{ page.next.image | relative_url }}">
        {% endif %}
      </div>
    </div>
    <footer>&copy; 2018 Adrian Bugajewski | Wszelkie prawa zastrzeżone</footer>
  </body>
</html>
